@model IEnumerable<Obligatorio.Miembro>

<h1>LISTADO DE MIEMBROS</h1>


@foreach (var m in Model)
{


    <table style="width:100%" class="table table-striped">
        
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Fecha de nacimiento</th>
                <th>Mail</th>
                <th>Bloqueado</th>
            </tr>
        </thead>
        <tbody>
             <tr>
                <td> <span>@m.Apellido  </span></td>
                <td> <span>@m.Nombre  </span></td>
                <td> <span>@m.FechaNacimiento </span></td>
                <td> <span>@m.Mail </span></td>
                <td> <span>@m.Bloqueado  </span></td>
                <td> <span>
                        @if (!m.Bloqueado)
                        {
                            <a class="btn " href="@Url.Action("BloquearUsuario", "Usuario", new {idMiembro=m.Id})"><input type="button" value="Bloquear usuario"></a>

                        }
                        else
                        {
                            <a class="btn " href="@Url.Action("DesbloquearUsuario", "Usuario", new {idMiembro=m.Id})"><input type="button" value="Desbloquear usuario"></a>

                        }
                    </span> 
                   
                    
                </td>

        </tr>
        </tbody>
    </table>
    <div style="margin-top:50px"></div>
}
@section Scripts{

    <script>
        $(document).scroll(function () {
            localStorage['page'] = document.URL;
            localStorage['scrollTop'] = $(document).scrollTop();
        });

        $(document).ready(function () {
            if (localStorage['page'] == document.URL) {
                $(document).scrollTop(localStorage['scrollTop']);
            }
        });

    </script>
}
