@model IEnumerable<Obligatorio.Post>

<h1>Publicaciones</h1>
<hr>

@foreach (var p in Model)
{


    <img style="width:100%" src="~/img/@p.Imagen">
    <span>@p.Imagen  </span>
    <table style="width:100%" class="table table-striped">

        <thead>
            <tr>
                <th>Usuario</th>
                <th>Titulo</th>
                <th>Texto</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tr>

        <tbody>
        <td><span> @p.Autor  </span></td>
        <td> <span> @p.Titulo  </span></td>
        <td> <span> @p.Texto  </span></td>
        <td> <span> @p.Fecha  </span></td>
        <td> <span> <a class="btn" href="@Url.Action("Like", "Usuario", new {idPost=p.Id})">Like @p.CantidadLike()</a> </span></td>
        <td> <span> <a class="btn" href="@Url.Action("Dislike", "Usuario", new {idPost=p.Id})">Dislike  @p.CantidadDislike()</a> </span></td>
        <td>
            <span>
                        @if (!p.Censurado)
                        {
                    <a class="btn " href="@Url.Action("CensurarPost", "Usuario", new {idPost=p.Id})"><input type="button" value="Censurar post"></a>

                        }
                        else
                        {
                    <a class="btn " href="@Url.Action("MostrarPost", "Usuario", new {idPost=p.Id})"><input type="button" value="Mostrar post"></a>

                        }
            </span>
        </td>
        </tbody>
        </tr>
        <table />
        <div style="margin-top:50px"></div>

        <tr>

            <table style="width:100%" class="table table-striped">
                <h3>Comentarios:</h3>
                @foreach (var c in p.GetComentarios())
                {
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Titulo</th>
                            <th>Texto</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>  <span> @c.Autor</span></td>
                            <td>  <span> @c.Titulo</span></td>
                            <td>  <span> @c.Texto</span></td>
                            <td>  <span> @c.Fecha.ToString("MM/dd/yyyy")</span></td>

                            <td> <span> <a class="btn" href="@Url.Action("Like", "Usuario", new {id=p.Id})">Like @c.CantidadLike()</a> </span></td>
                            <td> <span> <a class="btn" href="@Url.Action("Dislike", "Usuario", new {id=p.Id})">Dislike @c.CantidadDislike()</a> </span></td>
                        </tr>
                    </tbody>

                }

            </table>
            <hr/>


        </tr>
    </table>
    <div style="margin-top:50px"></div>
}
@section Scripts{

    <script>
        $(document).scroll(function () {
            localStorage['page'] = document.URL;
            localStorage['scrollTop'] = $(document).scrollTop();
        });

        $(document).ready(function () {
            if (localStorage['page'] == document.URL) {
                $(document).scrollTop(localStorage['scrollTop']);
            }
        });

    </script>
}
